# customization
#.gitignore
/flutter/windows/runner/resources/app_icon.ico
#/flutter/windows/runner/Runner.rc
/res/tray-icon.ico
/res/app-icon.ico
/res/logo.svg
/res/scalable.svg
/res/icon.png
/res/icon.ico
/fastlane/metadata/android/en-US/images/icon.png
/flutter/android/app/src/main/res/mipmap-xxxhdpi/ic_stat_logo.png
/flutter/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
/flutter/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
/flutter/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
/flutter/android/app/src/main/res/mipmap-xxhdpi/ic_stat_logo.png
/flutter/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
/flutter/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
/flutter/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
/flutter/android/app/src/main/res/mipmap-xhdpi/ic_stat_logo.png
/flutter/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
/flutter/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
/flutter/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
/flutter/android/app/src/main/res/mipmap-hdpi/ic_stat_logo.png
/flutter/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
/flutter/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
/flutter/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
/flutter/android/app/src/main/res/mipmap-mdpi/ic_stat_logo.png
/flutter/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
/flutter/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
/flutter/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
/flutter/web/icons/Icon-192.png
/flutter/web/icons/Icon-maskable-192.png
/flutter/web/icons/Icon-512.png
/flutter/web/icons/Icon-maskable-512.png
/flutter/assets/logo.svg
/flutter/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
/flutter/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
/flutter/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
/flutter/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
/flutter/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
/flutter/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
/res/128x128@2x.png
#/cargo.toml
# /.github/workflows/flutter-build.yml
# start original
/build
/target
.vscode
.idea
.DS_Store
libsciter-gtk.so
src/ui/inline.rs
extractor
__pycache__
src/version.rs
*dmg
*exe
*tgz
cert.pfx
*.bak
*png
*svg
*jpg
sciter.dll
**pdb
src/bridge_generated.rs
src/bridge_generated.io.rs
*deb
rustdesk
*.cache
# appimage
appimage/AppDir
appimage/*.AppImage
appimage/appimage-build
appimage/*.xz
# flutter
flutter/linux/build/**
flutter/linux/cmake-build-debug/**
# flatpak
flatpak/.flatpak-builder/**
flatpak/ccache/**
flatpak/.flatpak-builder/build/**
flatpak/.flatpak-builder/shared-modules/**
flatpak/.flatpak-builder/shared-modules/*.tar.xz
flatpak/.flatpak-builder/debian-binary
flatpak/build/**
flatpak/repo/**
flatpak/*.flatpak
# bridge file
lib/generated_bridge.dart
# vscode devcontainer
.gitconfig
.vscode-server/
.ssh
.devcontainer/.*
# build cache in examples
examples/**/target/