/target
.vscode
.idea
.DS_Store
src/ui/inline.rs
extractor
__pycache__
src/version.rs
*dmg
*exe
*tgz
*lib
cert.pfx
flutter_hbb
*.bak
*png
*svg
*jpg
web_hbb
sciter.dll
**pdb
src/bridge_generated.rs
*deb
rustdesk
