<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<?include ../Includes.wxi?>

	<Fragment>

		<Property Id="AddRemovePropertiesFile" Value="1" />

		<!--
		Support entries shown when clicking "Click here for support information"
		in Control Panel's Add/Remove Programs http://msdn.microsoft.com/library/default.asp?url=/library/en-us/msi/setup/configuration_properties.asp
		-->
		<Property Id="ARPCOMMENTS" Value="!(loc.AR_Comment)" />
		<Property Id="ARPCONTACT" Value="https://github.com/rustdesk/rustdesk" />
		<Property Id="ARPHELPLINK" Value="https://github.com/rustdesk/rustdesk" />
		<Property Id="ARPREADME" Value="https://github.com/rustdesk/rustdesk" />
		<Property Id="ARPURLINFOABOUT" Value="https://github.com/rustdesk/rustdesk" />
		<Property Id="ARPURLUPDATEINFO" Value="https://github.com/rustdesk/rustdesk" />

		<Property Id="ARPPRODUCTICON" Value="AppIcon" />

		<Property Id="RUSTDESKNATIVEINSTALL">
			<RegistrySearch Id="RustDeskNativeInstallSearch" Root="HKCR" Key="$(var.RegKeyRoot)\DefaultIcon" Type="raw" />
		</Property>
		<Property Id="RUSTDESKNATIVEINSTALLFOLDER">
			<RegistrySearch Id="RustDeskNativeInstallFolderSearch" Root="HKCR" Key="$(var.RegKeyRoot)" Name="INSTALLFOLDER" Type="raw" />
		</Property>

	</Fragment>
</Wix>
