<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>StarDesk</vendor>
  <vendor_url>https://mobilestartools.com/</vendor_url>
  <icon_name>stardesk</icon_name>
  <action id="com.stardesk.StarDesk.options">
    <description>Change StarDesk options</description>
    <message>Authentication is required to change StarDesk options</message>
    <message xml:lang="zh_CN">要更改StarDesk选项, 需要您先通过身份验证</message>
    <message xml:lang="zh_TW">要變更StarDesk選項, 需要您先通過身份驗證</message>
    <message xml:lang="de">Authentifizierung zum Ändern der StarDesk-Optionen</message>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/stardesk/files/polkit</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>
</policyconfig>
