[Desktop Entry]
Name=Rdp_Connect
GenericName=Remote Desktop
Comment=Remote Desktop
Exec=rdp_connect %u
Icon=rdp_connect
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;RemoteAccess;GTK;
Keywords=internet;linux;dart;rust;remote-control;p2p;teamviewer;rust-lang;rdp;remote-desktop;vnc;
Actions=new-window;
StartupWMClass=rdp_connect

X-Desktop-File-Install-Version=0.23

[Desktop Action new-window]
Name=Open a New Window
Exec=rdp_connect %u
