[Desktop Entry]
Name=TeamDesk
NoDisplay=true
MimeType=x-scheme-handler/teamdesk;x-scheme-handler/rustdesk;
TryExec=teamdesk
Exec=teamdesk %u
Icon=teamdesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=teamdesk
