[Desktop Entry]
Name=Rdp_Connect
NoDisplay=true
MimeType=x-scheme-handler/rdpconnect;
TryExec=rdp_connect
Exec=rdp_connect %u
Icon=rdp_connect
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=rdp_connect
