[Desktop Entry]
Name=TechDesk
GenericName=Remote Desktop
Comment=Remote Desktop
Exec=techdesk %u
Icon=techdesk
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;RemoteAccess;GTK;
Keywords=internet;
Actions=new-window;

X-Desktop-File-Install-Version=0.23

[Desktop Action new-window]
Name=Open a New Window
Exec=techdesk %u
