[Unit]
Description=TechDesk
Requires=network.target
After=systemd-user-sessions.service

[Service]
Type=simple
ExecStart=/usr/bin/techdesk --service
# kill --tray and --server both
ExecStop=pkill -f "techdesk --"
# below two lines do not work, have to use above one line
#ExecStop=pkill -f "techdesk --tray"
#ExecStop=pkill -f "techdesk --server"
PIDFile=/run/techdesk.pid
KillMode=mixed
TimeoutStopSec=30
User=root
LimitNOFILE=100000

[Install]
WantedBy=multi-user.target
