<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <!--
    Use supportedRuntime tags to explicitly specify the version(s) of the .NET Framework runtime that
    the custom action should run on. If no versions are specified, the chosen version of the runtime
    will be the "best" match to what WixToolset.Dtf.CustomAction.dll was built against.

    WARNING: leaving the version unspecified is dangerous as it introduces a risk of compatibility
    problems with future versions of the .NET Framework runtime. It is highly recommended that you specify
    only the version(s) of the .NET Framework runtime that you have tested against.

    For more information https://learn.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/startup/startup-element
    -->
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
