# EditorConfig is awesome: http://EditorConfig.org

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.rs]
indent_style = tab
indent_size = 2
tab_width = 2

[*.{yml,toml,md}]
indent_style = space
indent_size = 2
tab_width = 2

[*.md]
trim_trailing_whitespace = false
