/target
/Cargo.lock
.vscode
/ffmpeg/*
!/ffmpeg/windows
/ffmpeg/windows/debug
!/ffmpeg/linux
/ffmpeg/linux/debug
!/ffmpeg/mac
/ffmpeg/mac/debug
!/ffmpeg/android
/ffmpeg/android/debug
!/ffmpeg/ios
/ffmpeg/ios/debug
/input
/output
*.diff
dev/vs/AMFTest/x64
dev/vs/MFXTest/x64
dev/vs/ShaderCompileTool/x64
.vs
bmp
texture
.DS_Store
