<?xml version=”1.0" encoding=”UTF-8"?>
 <!DOCTYPE plist PUBLIC “-//Apple//DTD PLIST 1.0//EN” “http://www.apple.com/DTDs/PropertyList-1.0.dtd">
 <plist version=”1.0">
 <dict>
 <key>method</key>
 <string>app-store</string>
 <key>teamID</key>
 <string>HZF9JMC8YN</string>
 <key>provisioningProfiles</key>
 <dict>
 <key>com.carriez.flutterHbb</key>
 <string>rustdesk-ios-prod-app-store</string>
 </dict>
 </dict>
 </plist>
