<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAnwdTc5qMQMrxyP_jc--67XYiZz9SESa0</string>
	<key>GCM_SENDER_ID</key>
	<string>551418825250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fti.rd</string>
	<key>PROJECT_ID</key>
	<string>mobilestartools-com</string>
	<key>STORAGE_BUCKET</key>
	<string>mobilestartools-com.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551418825250:ios:bcad7ce4f258463b4b187b</string>
</dict>
</plist>