name: Full Flutter CI

on:
  workflow_dispatch:
  pull_request:
    paths-ignore:
    - "docs/**"
    - "README.md"
  push:
    branches:
      - master
    paths-ignore:
      - ".github/**"
      - "docs/**"
      - "README.md"

jobs:
  run-ci:
    if: contains(github.event.pull_request.labels.*.name, 'newrelease')
    uses: ./.github/workflows/flutter-build.yml
    with:
      upload-artifact: false
